.tabs
  .tabs_item{ class: "#{add_active_class(root_path)}" }
    = link_to "New Boards", root_path
  .tabs_item{ class: "#{add_active_class(timeline_path)}" }
    = link_to "Timeline", timeline_path
