@import 'variables';

input {
  &.text {
    width: 100%;
    padding: 16px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
  }
}

textarea {
  width: 100%;
  padding: 16px;
  min-height: 150px;
  resize: vertical;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}