@import './variables';
@import 'board';

.task {
  background-color: #F4F4F4;
  padding: 10px $container-padding;
  margin: 30px 0 30px;
  position: relative;
  width: 100%;

  border-radius: 5px;

  &_top {
    margin: 20px 0 15px;
    font-size: 22px;
    font-weight: 800;
  }

  &_image {
    height: 200px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &_title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  &_content {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 20px;
  }

  &_detail {
    display: flex;
    font-size: 12px;
    position: relative;

    img {
      cursor: pointer;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 16px;
    }

    &_actions {
      position: absolute;
      right: 25px;
      bottom: 15px;
    }
  }

  &_to_new {
    width: 100%;
    height: 60px;
    display: flex; /*display:flexの状態で下２つ。ブロック要素を上下左右中央揃え*/
    justify-content: center; /*左右中央揃え*/
    align-items: center; /*上下中央揃え*/
    margin: auto;
    border: 1px dashed #00000033;
    border-radius: 5px;
    i {
      padding-top: 6px;
    }
    p {
      margin-left: 10px;
      font-size: $font-lg;
      font-weight: 400;
    }
    &:hover {

      background-color: rgb(83,171,235, 0.7)
    }
  }
}

.topic {
  &_eyecatch, &_title, &_deadline, &_content {

    &_label {
      font-size: 18px;
      font-weight: 400;
    }
    &_area {
      background-color: #F4F4F4;
    }
    &_file {
      margin-bottom: 10px;
    }

  }
  &_title_area, &_deadline_area {
    margin-bottom: 10px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.comment {
  padding-top: 10px;

  &_top {
    margin: 20px 0 15px;
    font-size: 22px;
    font-weight: 800;
  }
  &_image{
    width: 15%;
  }

  &_avatar {

    height: auto;
    border-radius: 100%;
  }

  &_content {
    font-size: 14px;
    width: 80%;

  }
}